<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Level Select: Hyper Hacker</title>
    <script src="assets/js/level-select.js"></script>
    <script src="assets/js/imageUpload.js"></script>
</head>

<body>
    <section id='app'></section>

    <!--
    <nav>
        <div>
            <h2>Welcome Back, {{username}}</h2>
        </div>
        <img id="profile-toggle" class='profile-img' alt="">
    </nav>

    <div id="levelContainer">
        <div id="levelGrid">
            {{#each levels}}
                {{#if this.isPremium }}
                    {{#if ../isPremium }}
                <a href='/level?num={{@index}}'>
                    {{else}}
                <a class="locked-level" />
                    {{/if}}
                {{else}}
                <a href='/level?num={{@index}}'>
                {{/if}}
                    <div class="levelSelect">
                        <div class="highscore">
                            <h5>
                                {{lookup ../highscores @index}}
                            </h5>
                            <img src="assets/media/medal.png" alt="high score">
                        </div>
                        <div class="levelText">
                            <h3>Level {{@index}}</h3>
                            <h4>{{this.name}}</h4>
                        </div>
                    </div>
                </a>
            {{/each}}
        </div>
    </div>-->
</body>

</html>